<!-- Chat UI -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-5">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-9">
            <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="name"
              placeholder="Enter your name to initiate chat">
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn join">Join</button>
          </div>
          <div class="row">
            <div class="col-lg-12">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div style="margin-top: 20px;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class=""></a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div>
            <div
              style="padding: 30px; border: 1px solid #D7D8D6; margin-bottom: 30px; min-height: 400px; overflow: auto; border-top: 0">
              <div class="row">
                <div class="well" style="height: 300px;">
                  <div>
                    <span>
                      <strong>

                      </strong>

                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12">
                  <textarea placeholder="Type your message here..." type="text" formControlName="message" class="form-control" id="message"
                    aria-describedby="message" rows="2">
                    </textarea>
                </div>
              </div>
              <div class="row">
                <div class="mt-3">
                  <button type="button" class="btn send" style="float: right">Send</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
